{% extends "parent.njk" %}
{% block content %}
  <ul id="messages"></ul>
{% endblock %}
{% block form %}
  <form action="/" id="chatForm">
    <label for="message" id="uname">{{ uname }}</label>
    <input name="message" id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..."/>
    <button>Send</button>
  </form>
{% endblock %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
  <script src="script.js"></script>
{% endblock %}