{% extends "parent.njk" %}
{% block content %}
  <h1>Welcome
      <br><br>to<br><br>
      Bloo Chat!</h1>
{% endblock %}
{% block form %}
  <div id="userForm">
    <input name="username" id="uname" autocomplete="off" autofocus="on" placeholder="Username"/>
    <input name="password" id="pword" autocomplete="off" autofocus="on" placeholder="Password"/>
    <button id="login">Log In</button>
    <button id="register">Register</button>
  </div>
{% endblock %}
{% block script %}
  <script src="frontpage.js"></script>
{% endblock %}