{%extends "parent.njk" %}

{% block content %}
  <h1>Welcome
  <br><br>to<br><br>
  Bloo Chat!</h1>
{% endblock %}

{% block form %} 
  <div id="userForm">
    <form action="/chatroom" id="chatForm">
      <input name="username" id=“uname” autocomplete="off" autofocus="on" placeholder="type Username…”/>
      <input name="password" id=“pname” autocomplete="off" autofocus="on" placeholder="type Password…”name/>
      <button id="login">Log in</button>
      <button id="registar">Create Account</button>
    </form>
  </div>
{% endblock %}

{% block script %} 
  <script src="frontPage.js"></script>
{% end block %}
  