{%extends "parent.njk" %}

{% block content %}
  <h1>Welcome
  <br><br>to<br><br>
  Bloo Chat!</h1>
{% endblock %}

{% block form %} 
  <div id="userForm">
    <form action="/chatroom" id="chatForm">
      <input name="uname" id="txt" autocomplete="off" autofocus="on" placeholder="type your nickname here..."/>
      <button>Join</button>
    </form>
  </div>
{% endblock %}

{% block script %} 
{% end block %}
  